<!-- clothing-form.component.html -->
<ion-content class="flex flex-col items-center justify-start p-4">

  <!-- Área de imagen (clickeable y con preview integrada) -->
  <div class="w-full h-40 bg-gray-100 relative rounded-md mb-4 overflow-hidden cursor-pointer group"
      (click)="inputImagen.click()">

    <!-- Input oculto -->
    <input #inputImagen type="file" accept="image/*" (change)="capturarImagen($event)" hidden />

    <!-- Imagen de previsualización -->
    <img *ngIf="imagenPreview"
        [src]="imagenPreview"
        alt="Previsualización"
        class="w-full h-full object-contain z-0" />

    <!-- Overlay para ícono y texto si no hay imagen -->
    <div *ngIf="!imagenPreview" class="absolute inset-0 flex flex-col items-center justify-center text-gray-500 z-10">
      <ion-icon name="camera-outline" class="text-3xl mb-2"></ion-icon>
      <p class="text-sm">Capturar imagen de la prenda</p>
    </div>

    <!-- Overlay de cambio (opcional) -->
    <div *ngIf="imagenPreview" class="absolute inset-0 bg-black bg-opacity-10 hover:bg-opacity-20 transition duration-200 z-10 flex items-end justify-end p-2">
      <button (click)="inputImagen.click(); $event.stopPropagation()" class="text-xs bg-white bg-opacity-90 px-2 py-1 rounded shadow text-gray-700">
        Cambiar
      </button>
    </div>
  </div>

  <!-- Selector categoría -->
  <ion-select class="mb-4 custom-outline" [(ngModel)]="categoriaSeleccionada" (ngModelChange)="categoriaSeleccionadaChange.emit($event)" label="Categoría Prenda" label-placement="floating" fill="outline">
    <ion-select-option >Superior</ion-select-option>
    <ion-select-option >Inferior</ion-select-option>
  </ion-select>

  <!-- Campo nombre -->
  <ion-input class="mb-4 custom-outline" [(ngModel)]="nombre" (ngModelChange)="nombrePrendaChange.emit($event)" label="Nombre Prenda" label-placement="floating" fill="outline" placeholder="Ingresa el nombre de la prenda"></ion-input>

  <!-- Campo Color -->
  <ion-input class="mb-4 custom-outline" [(ngModel)]="color" (ngModelChange)="colorChange.emit($event)" label="Color" labelPlacement="floating" fill="outline" placeholder="Ingresa el color de la prenda en HEX"></ion-input>

  <!-- Botones -->
  <div class="flex w-full justify-between">
    <button class="w-[48%] border border-[#E39D7C] rounded-full py-2 text-[#E39D7C] flex items-center justify-center" (click)="borrarCampos()">
      <ion-icon class="w-5 h-5 mr-1" name="trash-outline"></ion-icon>
      Borrar
    </button>
    <button class="w-[48%] bg-[#E39D7C] rounded-full py-2 text-white flex items-center justify-center" (click)="guardarPrenda()">
      <ion-icon class="w-5 h-5 mr-1" name="save-outline"></ion-icon>
      Guardar
    </button>
  </div>
</ion-content>

