<!-- clothing-form.component.html -->
<ion-content class="flex flex-col items-center justify-start p-4">
  <!-- Área de imagen -->
  <div class="w-full flex flex-col items-center justify-center mb-4">
    <!-- Click para abrir el input -->
    <div class="w-full h-40 bg-gray-100 flex flex-col items-center justify-center rounded-md mb-2" (click)="inputImagen.click()">
      <ion-icon name="camera-outline" class="text-3xl mb-2"></ion-icon>
      <p class="text-gray-600">Capturar imagen de la prenda</p>
      <input #inputImagen type="file" accept="image/*" (change)="capturarImagen($event)" hidden />
    </div>

    <!-- Previsualización -->
    <div *ngIf="imagenPreview" class="w-full flex justify-center">
      <img [src]="imagenPreview" alt="Previsualización" class="rounded-md w-32 h-32 object-cover border border-gray-300" />
    </div>
  </div>


  <!-- Selector categoría -->
  <ion-select interface="action-sheet" placeholder="Seleccionar categoría" class="w-full border border-[#E39D7C] rounded-md p-2 mb-4" [(ngModel)]="categoriaSeleccionada">
    <ion-select-option value="Camisa">Superior</ion-select-option>
    <ion-select-option value="Pantalón">Inferior</ion-select-option>
  </ion-select>

  <!-- Campo nombre -->
  <ion-item class="border border-[#E39D7C] rounded-md mb-2">
    <ion-input placeholder="Nombre Prenda" [(ngModel)]="nombre">{{nombre}}</ion-input>
  </ion-item>

  <!-- Campo Color -->
  <ion-item class="border border-[#E39D7C] rounded-md mb-2">
    <ion-input placeholder="Color Prenda" [(ngModel)]="color"></ion-input>
  </ion-item>

  <!-- Botones -->
  <div class="flex w-full justify-between">
    <button class="w-[48%] border border-[#E39D7C] rounded-full py-2 text-[#E39D7C] flex items-center justify-center" (click)="borrarCampos()">
      <ion-icon class="w-5 h-5 mr-1" name="trash-outline"></ion-icon>
      Borrar
    </button>
    <button class="w-[48%] bg-[#E39D7C] rounded-full py-2 text-white flex items-center justify-center" (click)="guardarPrenda()">
      <ion-icon class="w-5 h-5 mr-1" name="save-outline"></ion-icon>
      Guardar
    </button>
  </div>
</ion-content>

