<ion-content class="flex flex-col items-center justify-center p-4 min-h-full">

  <div class="w-full max-w-md">

    <div
      class="relative w-full aspect-video bg-gray-100 rounded-3xl mb-6 overflow-hidden cursor-pointer group shadow-inner"
      (click)="inputImagen.click()">

      <input #inputImagen type="file" accept="image/*" (change)="capturarImagen($event)" hidden />

      <img *ngIf="imagenPreview" [src]="imagenPreview" alt="Previsualización de la prenda"
        class="w-full h-full object-contain" />

      <div *ngIf="!imagenPreview" class="absolute inset-0 flex flex-col items-center justify-center text-gray-400">
        <ion-icon name="camera-outline" class="text-5xl mb-2"></ion-icon>
        <p class="text-sm font-medium">Toca para añadir una imagen</p>
      </div>

      <div *ngIf="imagenPreview"
        class="absolute inset-0 bg-black/10 transition-colors duration-200 opacity-0 group-hover:opacity-100 flex items-center justify-center">
        <p class="text-white text-sm font-semibold p-2 rounded-full">Toca para cambiar la imagen</p>
      </div>
    </div>

    <div class="space-y-6">

      <ion-select class="custom-outline" [(ngModel)]="categoriaSeleccionada"
        (ngModelChange)="categoriaSeleccionadaChange.emit($event)" label="Categoría" label-placement="floating"
        fill="outline">
        <ion-select-option value="Superior">Superior</ion-select-option>
        <ion-select-option value="Inferior">Inferior</ion-select-option>
      </ion-select>

      <ion-input class="custom-outline" [(ngModel)]="nombre" (ngModelChange)="nombrePrendaChange.emit($event)"
        label="Nombre de la prenda" label-placement="floating" fill="outline"
        placeholder="Ej. Camiseta, Pantalón, etc."></ion-input>

      <ion-input class="custom-outline" [(ngModel)]="color" (ngModelChange)="colorChange.emit($event)"
        label="Color (código HEX)" label-placement="floating" fill="outline"
        placeholder="Ej. #FFFFFF o #FF5733"></ion-input>
    </div>

    <div class="flex w-full justify-between mt-8 space-x-4">
      <ion-button expand="block" fill="outline" shape="round" (click)="borrarCampos()" class="w-1/2 borrar">
        <ion-icon slot="start" name="trash-outline"></ion-icon>
        Borrar
      </ion-button>

      <ion-button expand="block" shape="round" (click)="guardarPrenda()" class="w-1/2 guardar">
        <ion-icon slot="start" name="save-outline"></ion-icon>
        Guardar
      </ion-button>
    </div>

  </div>
</ion-content>