ion-input.custom-outline {
  --border-color: #E39D7C; 
  --border-color-focused: #E39D7C;
}

ion-select.custom-outline {
  --border-color: #E39D7C; 
  --border-color-focused: #E39D7C;       
}

ion-button.guardar{
  --background: #E39D7C;
}

ion-button.borrar{
  --border-color: #E39D7C;
  --color: #E39D7C;
}