<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-button slot="start" fill="clear" color="light" class="flex flex-col items-center text-sm" (click)="goBack()">
      <div class="w-10 h-10 bg-[color:--ion-icons-bg-70] rounded-full flex items-center justify-center">
        <ion-icon class="w-5 h-5" name="chevron-back-outline"></ion-icon>
      </div>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-white" [fullscreen]="true" >
  <div class="h-full flex items-center justify-center">
    <div class="w-[90%] max-w-md text-center space-y-6">
      <h1 class="text-2xl font-semibold text-[color:--ion-text-color]">Registrarse</h1>
      <p class="text-sm text-[color:--ion-text-color]">Completa con tus datos y regístrate</p>

      <!-- Nombre -->
      <ion-item class="rounded-xl bg-[color:--ion-icons-bg-40] px-3 py-1">
        <ion-input type="text" placeholder="Nombre"></ion-input>
      </ion-item>

      <!-- Email -->
      <ion-item class="rounded-xl bg-[color:--ion-icons-bg-40] px-3 py-1">
        <ion-input type="email" placeholder="Email"></ion-input>
      </ion-item>

      <!-- Contraseña -->
      <ion-item class="rounded-xl bg-[color:--ion-icons-bg-40] px-3 py-1">
        <ion-input
          [type]="showPassword ? 'text' : 'password'" placeholder="Contraseña"></ion-input>
        <ion-icon slot="end" [name]="showPassword ? 'eye' : 'eye-off'" class="text-[color:--ion-text-bg-40]" (click)="togglePasswordVisibility()"></ion-icon>
      </ion-item>

      <!-- Botón de Registrarse -->
      <button class="w-full rounded-full bg-[color:--ion-icons-bg-60] text-white py-3 font-semibold shadow-md">
        Registrarse
      </button>

      <!-- Enlace de Inicio de Sesión -->
      <p class="text-sm text-[color:--ion-text-color]">
        ¿Ya tienes una cuenta?
        <a routerLink="/login" class="text-[color:--ion-color-salmon] font-medium">Inicia Sesión</a>
      </p>
    </div>
  </div>
  
</ion-content>
