<ion-content class="flex flex-col items-center justify-center p-4 min-h-full">

  <!-- Skeleton Loader -->
  <div *ngIf="!prenda || isLoading" class="w-full max-w-md animate-pulse">

    <div class="flex flex-col items-center p-6 bg-white rounded-3xl shadow-lg mb-8">
      <div class="w-40 h-40 bg-gray-300 rounded-3xl mb-4"></div> <!-- Imagen placeholder -->
      <div class="w-5 h-5 rounded-full bg-gray-300 absolute top-2 right-2"></div> <!-- Color placeholder -->
    </div>

    <div class="space-y-6">
      <div class="h-12 bg-gray-300 rounded-md w-full"></div> <!-- Selector placeholder -->
      <div class="h-12 bg-gray-300 rounded-md w-full"></div> <!-- Input placeholder -->
    </div>

    <div class="flex w-full justify-between mt-8 space-x-4">
      <div class="h-12 bg-gray-300 rounded-full w-1/2"></div> <!-- Botón borrar placeholder -->
      <div class="h-12 bg-gray-300 rounded-full w-1/2"></div> <!-- Botón editar placeholder -->
    </div>

  </div>

  <!-- Contenido real -->
  <div *ngIf="prenda && !isLoading" class="w-full max-w-md">

    <div class="flex flex-col items-center p-6 bg-white rounded-3xl shadow-lg mb-8">
      <div class="w-40 h-40 relative">
        <img *ngIf="prenda?.imagen" [src]="'data:image/jpeg;base64,' + prenda?.imagen" alt="{{ prenda?.nombre }}"
          class="w-full h-full object-contain" />
        <div *ngIf="isHexColorValido(prenda?.color)"
          class="w-5 h-5 rounded-full absolute top-2 right-2 border-2 border-gray-200 shadow-sm"
          [ngStyle]="{ 'background-color': prenda.color }">
        </div>
      </div>
    </div>

    <div class="space-y-6">
      <ion-select class="custom-outline" *ngIf="prenda?.tipoPrendaId" [(ngModel)]="prenda.tipoPrendaId.categoria"
        label="Categoría de la prenda" label-placement="floating" fill="outline">
        <ion-select-option [value]="null" disabled>Seleccione una categoría</ion-select-option>
        <ion-select-option value="Superior">Superior</ion-select-option>
        <ion-select-option value="Inferior">Inferior</ion-select-option>
      </ion-select>

      <ion-input class="custom-outline" [(ngModel)]="prenda.nombre" label="Nombre de la prenda" label-placement="floating" fill="outline"
        placeholder="Ingresa el nombre de la prenda">
      </ion-input>
    </div>

    <div class="flex w-full justify-between mt-8 space-x-4">
      <ion-button expand="block" fill="outline" shape="round" (click)="borrarCampos()" class="w-1/2 borrar">
        <ion-icon slot="start" name="trash-outline"></ion-icon>
        Borrar
      </ion-button>

      <ion-button expand="block" shape="round" (click)="editarPrenda()" class="w-1/2 editar">
        <ion-icon slot="start" name="create-outline"></ion-icon>
        Editar
      </ion-button>
    </div>

  </div>

</ion-content>
