<ion-content *ngIf="prenda" class="flex flex-col items-center justify-start p-4">
  <!--Contenedor del card-->
  <div class="flex justify-center items-center mb-4">
    <ion-card class="rounded-2xl p-4 flex flex-col items-center relative w-48">
      <!-- Imagen de la prenda -->
      <img *ngIf="prenda?.imagen" [src]="'data:image/jpeg;base64,' + prenda?.imagen" alt="{{ prenda?.nombre }}" class="w-full h-32 object-contain mb-2" />
      <!-- Círculo de color arriba a la derecha -->
      <div *ngIf="isHexColorValido(prenda?.color)" class="w-4 h-4 rounded-full absolute top-2 right-2 border-2 border-[color:--ion-icons-color]" [ngStyle]="{ 'background-color': prenda.color }"></div>
    </ion-card>
  </div>

  <!-- Selector categoría -->
  <ion-select *ngIf="prenda?.tipoPrendaId" class="mb-4 custom-outline" [(ngModel)]="prenda.tipoPrendaId.categoria" label="Categoría Prenda" label-placement="floating" fill="outline">
    <ion-select-option [value]="null" disabled>Seleccione una categoría</ion-select-option>
    <ion-select-option value="Superior" >Superior</ion-select-option>
    <ion-select-option value="Inferior">Inferior</ion-select-option>
  </ion-select>

  <!-- Campo nombre -->
  <ion-input class="mb-4 custom-outline" [(ngModel)]="prenda.nombre" label="Nombre Prenda" label-placement="floating" fill="outline" placeholder="Ingresa el nombre de la prenda"></ion-input>

  <!-- Botones -->
  <div class="flex w-full justify-between">
    <button class="w-[48%] border border-[#E39D7C] rounded-full py-2 text-[#E39D7C] flex items-center justify-center" (click)="borrarCampos()">
      <ion-icon class="w-5 h-5 mr-1" name="trash-outline"></ion-icon>
      Borrar
    </button>
    <button class="w-[48%] bg-[#E39D7C] rounded-full py-2 text-white flex items-center justify-center" (click)="editarPrenda()">
      <ion-icon  class="w-5 h-5 mr-1" name="create-outline"></ion-icon>
      Editar
    </button>
  </div>
</ion-content>

