<!-- Avatar y nombre -->
<div class="flex flex-col items-center">
  <div
    class="w-24 h-24 rounded-full bg-[#FFEADF] flex items-center justify-center mb-3"
  >
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/User-avatar.svg/2048px-User-avatar.svg.png"
      alt="avatar"
      class="w-20 h-20"
    />
  </div>
  <h2 class="text-xl font-light">{{nombre}}</h2>
</div>

<!-- Opciones -->
<div class="mt-10 w-full max-w-sm space-y-4">
  <button class="bg-white rounded-xl shadow p-4 flex items-center justify-between" (click)="irAFavoritos()">
    <div class="flex items-center space-x-2">
      <ion-icon class="w-5 h-5 text-[color:--ion-icons-color]" name="heart-outline"></ion-icon>
      <span>Favoritos</span>
    </div>
    <ion-icon class="w-4 h-4 text-gray-400" name="chevron-forward-outline"></ion-icon>
  </button>

  <button class="bg-white rounded-xl shadow p-4 flex items-center justify-between" (click)="alCerrarSesion()">
    <div class="flex items-center space-x-2">
      <ion-icon class="w-5 h-5 text-[color:--ion-icons-color]" name="log-out-outline"></ion-icon>
      <span>Cerrar Sesión</span>
    </div>
    <ion-icon class="w-4 h-4 text-gray-400" name="chevron-forward-outline"></ion-icon>
  </button>
</div>
