<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" href="/tabs/tab1">
      <ion-icon src="../../assets/icon/iconoInicio.svg"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab2">
      <ion-icon src="../../assets/icon/iconoFavorito.svg"></ion-icon>
      <ion-label>Favorito</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" href="/tabs/tab3" class="boton-iconoGenerarIA">
      <ion-icon size="large" src="../../assets/icon/iconoGenerarIA.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tabCloset" href="/tabs/tab-closet">
      <ion-icon aria-hidden="true" src="../../assets/icon/iconoCloset.svg"></ion-icon>
      <ion-label>Closet</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabPerfil" href="/tabs/tab-perfil">
      <ion-icon src="../../assets/icon/iconoPerfil.svg"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
