<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-button slot="start" fill="clear" color="light">
      <ion-icon size="large" src="../../assets/icon/iconoReversa.svg"></ion-icon>
    </ion-button>
    <ion-title class="ion-text-center">
      Favorito
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Favorito</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Favorito"></app-explore-container>
</ion-content>
