<ion-content class="bg-white" [fullscreen]="true" >
  <div class="h-full flex items-center justify-center">
    <div class="w-[90%] max-w-md text-center space-y-6">
      <h1 class="text-2xl font-semibold text-[color:--ion-text-color]">Iniciar Sesión</h1>
      <p class="text-sm text-[color:--ion-text-color]">Inicia sesión para continuar con la app</p>

      <!-- Email -->
      <ion-item class="rounded-xl bg-[color:--ion-icons-bg-40] px-3 py-1">
        <ion-input type="email" placeholder="Email"></ion-input>
      </ion-item>

      <!-- Contraseña -->
      <ion-item class="rounded-xl bg-[color:--ion-icons-bg-40] px-3 py-1">
        <ion-input
          [type]="showPassword ? 'text' : 'password'" placeholder="Contraseña"></ion-input>
        <ion-icon slot="end" [name]="showPassword ? 'eye' : 'eye-off'" class="text-[color:--ion-text-bg-40]" (click)="togglePasswordVisibility()"></ion-icon>
      </ion-item>

      <!-- Botón de Iniciar Sesión -->
      <button class="w-full rounded-full bg-[color:--ion-icons-bg-60] text-white py-3 font-semibold shadow-md" (click)="login()">
        Iniciar Sesión
      </button>

      <!-- Enlace de Registro -->
      <p class="text-sm text-[color:--ion-text-color]">
        ¿No tienes una cuenta?
        <a routerLink="/registro" class="text-[color:--ion-color-salmon] font-medium">Regístrate</a>
      </p>
    </div>
  </div>
  
</ion-content>

