// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root{
--font-family-base:'Noto Sans', sans-serif;

--ion-background-color: #ffffff;
--ion-color-white:#ffffff;

--ion-text-color: #735E51;
--texto-iconos: #735E51;
--ion-text-bg-40: rgba(var(--ion-text-color),0.4);

//Color salmon
--ion-color-salmon: #D98B79;
--ion-color-salmos-rgb: 217, 139, 121;
--ion-color-salmon-contrast: #ffffff;
--ion-color-salmon-contrast-rgb: 255, 255, 255;
--ion-color-salmon-shade: #be7a6a;
--ion-color-salmon-tint: #e1a08f;

--ion-icons-color: #D98B79;
--ion-icons-color-rgb: 217, 139, 121;
--ion-icons-bg-70: rgba(var(--ion-icons-color-rgb), 0.7);
--ion-icons-bg-40: rgba(var(--ion-icons-color-rgb), 0.4);
--ion-icons-bg-60: rgba(var(--ion-icons-color-rgb), 0.6);

}