// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root{
--ion-background-color: #ffffff;
--ion-text-color: #735E51;
--texto-iconos: #735E51;

}