<img src="../../assets/fondoEvento.svg" alt="fondo evento">
<div class="max-w-sm mx-auto bg-[#FBE6D3] rounded-3xl shadow-md overflow-hidden p-6">
  <h2 class="text-lg font-semibold text-[#4A3F35] mb-4">¿Para qué evento necesitas el vestuario?</h2>
  <textarea
    class="w-full h-32 p-3 rounded-md border border-[#E6CFC0] focus:outline-none focus:ring-2 focus:ring-[#D6A77A] placeholder-[#A59F9C] resize-none"
    placeholder="Escribe algo como ‘Cena formal’ o ‘Salida con amigos’"
  ></textarea>
  <button class="mt-4 w-full bg-[#E39D7C] hover:bg-[#C48465] text-white font-semibold py-2 px-4 rounded-full transition duration-300 flex items-center justify-center"
    (click)="irAtabRecomendacion()">
    <img class="w-6 h-6 mr-2" src="https://img.icons8.com/material-outlined/24/FFFFFF/ai-generated-image--v1.png" alt="ai-generated-image--v1"/>
    Generar Recomendación
  </button>
</div>
