<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-button slot="start" fill="clear" color="light">
      <ion-icon size="large" src="../../assets/icon/iconoReversa.svg"></ion-icon>
    </ion-button>
    <ion-title class="ion-text-center">Closet</ion-title>
    <ion-buttons slot="end">
      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Closet</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
