<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-button slot="start" fill="clear" color="light">
      <ion-icon size="large" src="../../assets/icon/iconoReversa.svg"></ion-icon>
    </ion-button>
    <ion-title class="ion-text-center">Closet</ion-title>
    <ion-button slot="end" fill="clear" color="light">
      <ion-icon size="large" src="../../assets/icon/IconoPlus.svg"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
</ion-content>
