<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <div class="w-full max-w-xs p-4 bg-white">
      <!-- Perfil usuario -->
      <div class="flex items-center space-x-2 mb-4">
        <img src="https://img.icons8.com/color/48/user-male-circle--v1.png" alt="avatar" class="w-8 h-8 rounded-full">
        <span class="bg-[color:--ion-icons-bg-60] text-white text-sm px-3 py-1 rounded-full">{{nombre}}</span>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <app-recomendacion-inicio></app-recomendacion-inicio>
</ion-content>
